# Python
*.py[cod]
*.py[cod].*
*$py.class
*.so

# Django
*.log
*.pot
*.pyc
*.pyo
__pycache__/
*.db
*.sqlite3
.DS_Store

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors
.vscode/
.idea/
*.swp
*~
.project
.pydevproject
*.sublime-project
*.sublime-workspace
nbproject/
*.tmproj
*.tm_properties

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Sphinx documentation
docs/_build/

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Pytest
.cache/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Celery
celerybeat-schedule
celerybeat.pid

# Translations
*.mo

# Jupyter Notebook
.ipynb_checkpoints

# Static and media files
staticfiles/
media/
