{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django FlipKart Clone</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% tailwind_css %}
<style>
  .hidden {
      display: none;
  }
</style>
</head>
<body class="bg-slate-100">

<div class="{% if user.is_authenticated %} bg-blue-600 {% else %} bg-white {% endif %} px-4 py-0">
  {% include "components/navbar.html" with authenticated=user.is_authenticated %}
</div>

{% block sub_base_code %}

{% endblock sub_base_code %}

</body>
</html>