{% load static %}

<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-lg flex flex-col">
    {% if card.image %}
    <a href="#">
        <img class="rounded-t-lg w-full h-48 object-contain" src="{{ card.image.url }}" alt="{{ card.title }}">
    </a>
    {% endif %}
    <div class="p-6 flex flex-col justify-between flex-grow">
        <div>
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-800">Card Title</h5>
            </a>
            <p class="mb-4 text-sm font-normal text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit provident numquam quam dignissimos commodi suscipit sequi eius perferendis illum corrupti, quod, explicabo tempore nemo repellat at rerum molestias aliquid repellendus!</p>
        </div>
        <div class="mt-auto">
            <div class="flex justify-between items-center">
                <span class="text-sm font-semibold text-gray-900">$ 400.50</span>
                <a href="#" class="inline-flex items-center px-2 py-2 text-sm font-medium text-center text-white bg-blue-500 rounded-lg hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300">
                    View More
                </a>
                <a href="#" class="inline-flex items-center px-2 py-2 text-sm font-medium text-center text-white bg-blue-500 rounded-lg hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300">
                    Add to Cart
                    <i class="fa-solid fa-cart-shopping text-sm mx-2"></i>
                </a>
            </div>
        </div>
    </div>
</div>
